/*-- scss:defaults --*/

$font-family-sans-serif: Computer Modern Sans, Helvetica, Arial, ui-sans-serif, system-ui, sans-serif !default;

$presentation-heading-font: Computer Modern Serif, Helvetica, Arial, ui-sans-serif, system-ui, sans-serif !default;

$font-family-monospace: Computer Modern Typewriter, monospace !default;

$presentation-font-size-root: 1.75em !default;