/*-- scss:defaults --*/

$font-family-sans-serif: ui-sans-serif, system-ui, sans-serif !default;

$presentation-heading-font: ui-sans-serif, system-ui, sans-serif !default;

$presentation-font-size-root: 25px;