/*-- scss:defaults --*/

$font-family-sans-serif: Avenir Next LT Pro, Avenir Next, Avenir, system-ui, sans-serif !default;

$presentation-heading-font: Avenir Next LT Pro, Avenir Next, Avenir, system-ui, sans-serif !default;

$presentation-font-size-root: 25px;